<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="landmark[name]">Landmark Name: </label>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
  <br></br>
  <label for="landmark[year_completed]">Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">
  <br></br>
  <input type="submit" name="submit" value="Edit Landmark">

</form>
