<form action="/landmarks" method="post">
  <label for="landmark[name]">Landmark Name: </label>
  <input type="text" name="landmark[name]">
  <br></br>
  <h3>Choose Figure</h3>
  <% Figure.all.each do |figure| %>
  <input type="radio" name="landmark[figure]" id="<%=figure.name%>" value="<%=figure.id%>">
  <%end%>
  <label for="figure[name]">Or create a new figure: </label>
  <input type="text" name="figure[name]">
  <br></br>
  <label for="landmark[year_completed]">Year Completed: </label>
  <input type="text" name="landmark[year_completed]">
  <input type="submit" name="submit" value="Create New Landmark">

</form>
