<form action="/figures" method="post">
  <label for="figure_name">Figure Name: </label>
  <input type="text" name="figure_name">
  <br></br>
  <h3>Choose Title(s)</h3>
  <% Title.all.each do |title| %>
  <input type="checkbox" name="titles[]" id="<%=title.name%>" value="<%=title.id%>">
  <%end%>
  <br></br>
  <h3>Choose Landmark(s)</h3>
  <% Landmark.all.each do |landmark| %>
  <input type="checkbox" name="landmarks[]" id="<%=landmark.name%>" value="<%=landmark.id%>">
  <%end%>
  <input type="submit" name="submit" value="Create Figure">

</form>
